/* ====================================================
                      CSS RESETS
=======================================================*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #e6d754;
  background: url('../assets/wallpaper.jpg') no-repeat;
  background-size: cover;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* ====================================================
                      CSS STYLING
=======================================================*/

.wrapper{
  position: relative;
  width: 90%;
  max-width: 38rem;
  min-width: 22rem;
  text-align: center;
  padding: 2em 1.5em;
  margin: 2em auto;
  background: linear-gradient(130deg, #5020df8c, #846ad4);
  z-index: 0;
  box-shadow: 2px 2px 8px rgb(118, 71, 247);
  border-radius: 1rem;
}

.style-background{
  position: absolute;
  height: 100%;
  width: 20%;
  top: 0;
  right: 0;
  z-index: -1;
  border-radius: 1rem;
  --s: 84px; 
  --c1: #846ad4;
  --c2: #846ad4;
  --c3:  #5b30df;
  
  --_g: 0 120deg,#0000 0;
  background:
    conic-gradient(from    0deg at calc(500%/6) calc(100%/3),var(--c3) var(--_g)),
    conic-gradient(from -120deg at calc(100%/6) calc(100%/3),var(--c2) var(--_g)),
    conic-gradient(from  120deg at calc(100%/3) calc(500%/6),var(--c1) var(--_g)),
    conic-gradient(from  120deg at calc(200%/3) calc(500%/6),var(--c1) var(--_g)),
    conic-gradient(from -180deg at calc(100%/3) 50%,var(--c2)  60deg,var(--c1) var(--_g)),
    conic-gradient(from   60deg at calc(200%/3) 50%,var(--c1)  60deg,var(--c3) var(--_g)),
    conic-gradient(from  -60deg at 50% calc(100%/3),var(--c1) 120deg,var(--c2) 0 240deg,var(--c3) 0);
  background-size: calc(var(--s)*1.732) var(--s);
}
.search-card{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.search-box{
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 2rem;
  padding: 0.5em 1em;
  color: wheat;
  font-size: medium;
  border-bottom: 2px solid wheat;
  border-top: 1px solid wheat;
  width: 100%;
}
.search-box::placeholder{
  color: wheat;
}
.search-card button{
  background: transparent;
  border: 0; 
  height: 2.8rem;
  cursor: pointer;
  outline:#DF5120;
  border-radius: 50%;
  outline-offset:-1px;
  transition: all 0.3s ease-in-out;
}
.search-card button:hover{
  outline: 3px solid white;
  outline-offset: -5px;
  border-radius: 50%;
  rotate: 45deg;
}
.search-card button .search-icon{
  height: 90%;
}
.info-card{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.temp{
  color: #f5deb3;
  width: 80%;
  border-radius: 2rem;
  --s: 200px; 
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;
  
  background:
    repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
     calc(.5*var(--s)) calc(.5*var(--s)*0.577),
    repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
  background-size: var(--s) calc(var(--s)*0.577);
}
.city{
  color: #f0ffff;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
p{
  color: #20DF51;
  font-weight: 600;
}
.value{
  color: wheat;
}











